RewriteEngine on

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d 

RewriteCond /eim/$1 !^(index\.php|images|js|css|bootstrap|PhpWord|output|robots\.txt)
RewriteRule ^(.*)$ /eim/index.php/$1 [L]